.cell {
  width: 100px;
  height: 100px;

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;

  color: white;
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 12px;
  transition: all 0.2s ease;
}

.cell.hover {
  background: #2563eb;
  transform: scale(1.05);
}